# virtual environments
.venv/
venv/

# git
.gitattributes

# python
__pycache__/

# flask
instance/

# stripe
stripe.exe

# ginsim 
des_lsi_model_mm
des_lsi_model_mm.index
des_tfidf_model_mm
des_tfidf_model_mm.index
