.title, .search {
  margin: 20px auto;
}

.search {
  width: 13vw;
  display: flex;
  flex-direction: row;
}

.clear-styling {
  background-color: transparent;
  border: none;
}

.catalogue {
  width: 90vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  margin-top: 20px;
}

.card {
    width: 15vw;
    height: 35vh;
    background: var(--main-color);
    border: 2px solid var(--main-focus);
    box-shadow: 4px 4px var(--main-focus);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    margin: 20px;
  }
  
  .card-img {
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: 80px;
    max-height: 80px;
    background-color: black;
  }

  .card-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .card-title {
    font-size: var(--title-text);
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    max-height: 30px;
    overflow-wrap: break-word;
    hyphens: auto;
    color: var(--font-color);
  }

  .card-seller {
    font-size: var(--small-text);
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    max-height: 30px;
    overflow-wrap: break-word;
    hyphens: auto;
    color: var(--font-color-sub);
  }
  
  .card-description {
    min-height: 20%;
    width: 100%;
    font-size: var(--body-text);
    font-weight: 300;
    text-align: left;
    overflow: hidden;
    overflow-wrap: break-word;
    hyphens: auto;
    color: var(--font-color-sub);
  }
  
  .card-divider {
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: 40px;
  }
  
  .card-footer {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .card-redirect {
    font-size: var(--small-text);
    font-weight: 500;
    align-self: flex-start;
  }
  
  .card-price {
    font-size: var(--small-text);
    font-weight: 500;
    color: var(--font-color);
  }
  
  .card-btn {
    height: 20px;
    background: var(--bg-color);
    border: none;
    /* border: 2px solid var(--main-color);
    border-radius: 5px; */
    /* padding: 5px; */
  }
  
  .card-btn span {
    width: 100%;
    height: 100%;
    fill: var(--main-color);
  }
  
  .card-img:hover {
    transform: scale(1.2);
  }
  
  .card-btn:hover {
    border: 2px solid var(--main-focus);
  }
  
  .card-btn:hover span {
    fill: var(--main-focus);
  }
  
  .card-btn:active {
    transform: scale(1.2);
  }
  
  .card-tags {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: left;
    
  }

  .tag {
    border-radius: 7px;
    font-size: var(--small-text);
    padding: 3px;
  }

  .tag-option {
    font-size: var(--body-text);
  }