.profile-inbox {
    display: flex;
    flex-direction: row;
}

.inbox {
    position: relative;
    top: 20px;
    width: 30vw;
    margin: 20px auto;
    padding: 20px 0;
}

.inbox-content {
    position: relative;
    background-color: red;
    top: -40px;
    width: 30vw;
    height: 400px;
    background-color: var(--main-color);
    margin: 10px auto;
    padding: 20px 0;
    border: 2px solid var(--main-focus);
    box-shadow: 4px 4px var(--main-focus);
    border-radius: 3px;
    font-size: var(--body-text);
}

.btn {
    width: 200px;
}