:root {
  --title-text: 15px;
  --body-text: 13px;
  --small-text: 11px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fffbea;
  --main-color: #fff3a5;
  --main-focus: #a9530d;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  background-color: var(--bg-color);
}

* {
  margin: auto;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}