:root {
  --site-title-text: 35px;
  --title-text: 23px;
  --body-text: 20px;
  --small-text: 18px;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff9da;
  --main-color: #fad460;
  --main-focus: #a9530d;
  font-family: 'Nanum Pen Script', cursive;
}

body {
  background-color: var(--bg-color);
  overflow: hidden;
}

* {
  margin: auto;
  text-align: center;
}

::placeholder {
  color: var(--main-focus);
  font-family: 'Nanum Pen Script', cursive;
  font-size: var(--small-text);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.top-bar {
  display: flex;
  flex-direction: row;
  max-height: 10vh;
  overflow: hidden;
  float: right;
  padding: 8px;
}

.top-bar a {
  float: left;
  color: var(--main-focus);
  text-align: center;
  padding: 4px 12px;
  margin: 2px 5px 0 5px;
  text-decoration: none;
  font-size: var(--title-text);
  border: 2px solid var(--bg-color);
  border-radius: 3px;
  box-shadow: 4px 4px var(--bg-color);
}

/* Change the color of links on hover */
.top-bar a:hover {
  background-color: var(--main-color);
  color: var(--main-focus);
  border: 2px solid var(--main-focus);
  border-radius: 3px;
  box-shadow: 4px 4px var(--main-focus);
}

.logo-top {
  width: 15%; 
  float: left; 
  margin: 15px; 
}

.logo-bottom {
  width: 5%; 
  height: 5%;
}

.bottom-bar {
  width: 100%;
  position: absolute;
  bottom: 30px;
  justify-self: center;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.bottom-bar a {
  color: var(--main-focus);
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  font-size: var(--small-text);
  margin: auto;
}

/* Change the color of links on hover */
.bottom-bar a:hover {
  color: var(--main-focus);
}

/* Add a color to the active/current link */
.bottom-bar a.active {
  color: white;
}

.add {
  width: 15%; 
  height: 15%; 
  position:fixed; 
  right: 2%; 
  bottom: 5%; 
}

.add button {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--body-text);
  margin: 4px 2px;
  border-radius: 50%;
}

.add img {
  width: 50%; 
  height: 50%;
}

.add span {
  font-size: var(--body-text);
  height: 80%;
  position: absolute;
  width: 10%;
  right: 46%; 
  top: 10%; 
  transform-origin: bottom center;
  font-weight: bold; 
  color: rgb(0, 0, 0); 
}

.char1 { transform: rotate(-48deg); }
.char2 { transform: rotate(-40deg); }
.char3 { transform: rotate(-32deg); }
.char4 { transform: rotate(-24deg); }
.char5 { transform: rotate(-16deg); }
.char6 { transform: rotate(-8deg); }
.char8 { transform: rotate(8deg); }
.char9 { transform: rotate(16deg); }
.char10 { transform: rotate(24deg); }
.char11 {transform: rotate(32deg)}
.char12 { transform: rotate(40deg); }
.char13 { transform: rotate(48deg); }
.char14 { transform: rotate(56deg); }

.checkbox {
  position: absolute;
  left: 50%;
  top: 50%;
}

.checkbox-input {
  display: none;
}

.checkbox-text {
  padding: 4.5px;
  border-radius: 10px;
  background-color: #aaa;
  color: #555;
  cursor: pointer;
  user-select: none;
  box-shadow: 0.75px 0.75px var(--main-focus);
}

.checkbox-input:checked ~ .checkbox-text {
  font-weight: bold;
}

