<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Add Item</title>
</head>
<body>

    {% include 'nav.html' %}

   <h1>Add Your Item</h1>
   <form method="post" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label><br>
        <input type="text" name="name"
               placeholder="Item Name" class="form-control"
               value="{{ request.form['name'] }}"></input>
    </div>

    <div class="form-group">
        <label for="price">Price</label><br>
        <input type="number" name="price"
               placeholder="Item Price" class="form-control"
               value="{{ request.form['price'] }}"></input>
    </div>

    <div class="form-group">
        <label for="description">Description</label><br>
        <textarea name="description" placeholder="Item Description"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="image">Upload Image:</label>
        <input type="file" name="image" id="image" accept="image/*">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    {% include 'footer.html' %}
</form>
</body>
</html>