<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/tags.css') }}">
    <title>Add Item</title>
</head>
<body>

    {% include 'nav.html' %}

   <h1>Add Your Item</h1>
   {% include "errors.html" %}
   <form method="post" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name">Name</label><br>
        <input type="text" name="name"
               placeholder="Item Name" class="form-control"
               value="{{ request.form['name'] }}"></input>
    </div>

    <div class="form-group">
        <label for="price">Price</label><br>
        <input type="number" name="price" min="0" 
               max="100000" step="0.01"
               placeholder="Item Price" class="form-control"
               value="{{ request.form['price'] }}"></input>
    </div>

    <div class="form-group">
        <label for="description">Description</label><br>
        <textarea name="description" placeholder="Item Description"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>

    <div class="form-group tag-group">
        
        <label for="description">Tags</label><br>
        
        {% for tag in tags %}
        <label class="tag-option">
            <input class="checkbox-input" name="tag-group" value="{{ tag['id'] }}" type="checkbox">
            <span class="checkbox-text" style="background-color: {{ tag['background_color'] }}; color: {{ tag['text_color'] }};">{{ tag['name'] }}</span>
        </label>
        {% endfor %}
    </div>

    <div class="form-group">
        <label for="image">Upload Image:</label>
        <input type="file" name="image" id="image" accept="image/*">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    {% include 'footer.html' %}
</form>
</body>
</html>