<footer>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/organizationbar.css') }}">
    <img class="logo-bottom" id = "logo" src="{{ url_for('static', filename= 'images/logo.png') }}" height="20px" alt="Logo"/>
    <div class="bottom-bar"> 
        <a href="/">home</a>
        <a href="contact">contact</a>
        <a href="https://github.com/mika-okamoto/Stinger-Seller"><img class="logo" alt = "github" height="20px" src="{{ url_for('static', filename= 'images/github.png') }}"></img></a>
    </div>
</footer>