<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Stinger Seller</title>
</head>
<body>
    <div>
        <h1>Stinger Seller</h1>
    </div>
    <div class="search">
        <input type="text" placeholder="Search for items...">
    </div>
    {% for item in items %}
    <div class="card-container">
        <img src="{{ item['image'] }}" alt="Item photo">
        <div class="card-inner-container">
            <p class="card-name">{{ item["name"] }}</p>
            <p class="card-price">{{ item["price"] }}</p>
            <p class="card-seller">{{ item["seller"] }}</p>
            <p class="card-description">{{ item["description"] }}</p>
            <p class="card-tag">{{ item["tag"] }}</p>
            <p class="card-tag">{{ item["tag"] }}</p>
        </div>
    {% endfor %}
    </div>
    

</body>
</html>