<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Login</title>
</head>
<body>
    {% include 'nav.html' %}
    <h1>Login</h1>
    {% include "errors.html" %}
    <form method="post" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="email">Email</label><br>
        <input type="text" name="email"
               placeholder="Email" class="form-control"
               value="{{ request.form['email'] }}"></input>
    </div>

    <div class="form-group">
        <label for="password">Password</label><br>
        <input type="password" name="password"
               placeholder="Password" class="form-control"
               value="{{ request.form['password'] }}"></input>
    </div>

    {% if signup %}
    <div class="form-group">
        <label for="displayname">Display name</label><br>
        <input type="text" name="displayname"
               placeholder="Display name" class="form-control"
               value="{{ request.form['displayname'] }}"></input>
    </div>

    <div class="form-group">
        <label for="description">Description</label><br>
        <textarea name="description" placeholder="Seller Description"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>
    {% endif %}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ "Sign up" if signup else "Log in" }}</button>
    </div>
    {% include 'footer.html' %}
</form>
</body>
</html>