<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/forms.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <title>login</title>
</head>
<body>
    {% include 'nav.html' %}
    <h1>login</h1>
    {% include "errors.html" %}
    <form method="post" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="email">email</label><br>
        <input type="text" name="email"
               placeholder="email" class="form-control"
               value="{{ request.form['email'] }}"></input>
    </div>

    <div class="form-group">
        <label for="password">password</label><br>
        <input type="password" name="password"
               placeholder="Password" class="form-control"
               value="{{ request.form['password'] }}"></input>
    </div>

    {% if signup %}
    <div class="form-group">
        <label for="displayname">display name</label><br>
        <input type="text" name="displayname"
               placeholder="Display name" class="form-control"
               value="{{ request.form['displayname'] }}"></input>
    </div>

    <div class="form-group">
        <label for="contactmethod">preferred contact method</label><br>
        <input type="text" name="contactmethod"
               placeholder="contact method" class="form-control"
               value="{{ request.form['contact_method'] }}"></input>
    </div>

    <div class="form-group">
        <label for="contactmethod">preferred contact method</label><br>
        <input type="text" name="contactmethod"
               placeholder="contact method" class="form-control"
               value="{{ request.form['contact_method'] }}"></input>
    </div>

    <div class="form-group">
        <label for="description">description</label><br>
        <textarea name="description" placeholder="seller description"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>
    {% endif %}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">{{ "sign up" if signup else "log in" }}</button>
    </div>
    {% include 'footer.html' %}
</form>
</body>
</html>