<nav>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/organizationbar.css') }}">
    <ul> 
        <li><img class="logo-top" id = "logo" src="{{ url_for('static', filename= 'images/logo.png') }}" alt="Logo"/></li>
        <div class="top-bar"> 
            <li><a href="/">HOME</a></li>
            {% if "token" in request.cookies and request.cookies["token"] in g.users %}
            <li><a href="{{url_for("go_to_dashboard")}}">Payment dashboard</a></li>
            <li><a href="{{url_for("check_me")}}">Profile</a></li>
            {% endif %}
            <li><a href="/login" >{{ "Logout" if "token" in request.cookies and request.cookies["token"] in g.users else "login/register" }}</a></li>
        </div>
    </ul>
</nav>