<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <title>profile</title>
</head>
<body>
    {% include 'nav.html' %}
    <h1>profile</h1>
    {% include "errors.html" %}
    <form method="post" action="" enctype="multipart/form-data">
    <div class="form-group">
        <label for="displayname">display name</label><br>
        <input type="text" name="displayname"
               placeholder="{{ display_name }}" class="form-control"
               value="{{ request.form['email'] }}"></input>
    </div>

    <div class="form-group">
        <label for="contactmethod">preferred contact method</label><br>
        <input type="text" name="contactmethod"
               placeholder="{{ contact_method }}" class="form-control"
               value="{{ request.form['contact_method'] }}"></input>
    </div>

    <div class="form-group">
        <label for="description">description</label><br>
        <textarea name="description" placeholder="{{ description }}"
                  class="form-control">{{ request.form['description'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">update profile</button>
    </div>

    {% if processing_items %}
    <h3>Processing items:</h3>
    <lu>
    {% for item in processing_items %}
    <li><a href="{{url_for("item_page", id=item["id"])}}">{{ item["name"] }}</a><br><pre>{{item["note"]}}</pre></li>
    {% endfor %}
    </lu>
    {% endif %}
    {% include 'footer.html' %}
</form>
</body>
</html>